<div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex="10%" fxFlex.lt-lg="5%" fxFlex.lt-md="0px"></div>
    <div fxFlex="200px" fxFlex.lt-md="100%" class='test'>
      <app-context-nav></app-context-nav>
    </div>
    <div fxFlex="8px"></div>
    <div fxFlex='70%' class='test2'>
      <div fxLayout="row" fxLayout.lt-lg="column" >
        <div fxFlex="60%">
          <mat-card  >
            <mat-card-title>{{status}}</mat-card-title>
            <table mat-table #table [dataSource]="dataSource" matSort class="mat-z8">
              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef >
                  <div class="onSeam">
                    <button mat-mini-fab matTooltip="New {{status}}" >
                      <mat-icon
                        aria-label="icon-button with an add icon"
                        (click)='addSwitch()' >add
                      </mat-icon>
                    </button>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button matTooltip="open in new" *ngIf="iconExpand">
                    <mat-icon
                        aria-label="expand icon"
                        (click)="editSwith(element)"
                        >launch
                    </mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Edit" *ngIf="!iconExpand">
                    <mat-icon
                        aria-label="edit icon"
                        (click)='editSwith(element)'
                        >edit
                    </mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngFor="let col of displayedColumns | slice:1" matColumnDef= {{col}}>
                <th mat-header-cell *matHeaderCellDef mat-sort-header > {{ col }} </th>
                <td  mat-cell *matCellDef="let row"> {{row[col]}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </mat-card>
        </div>
      <div fxFlex="8px"></div>
      <div fxFlex="40%" *ngIf="showSub">
        <app-sub-view
          [records]="subRecords"
          [displayedColumns]="subColumns"
          [status]="subStatus"
        ></app-sub-view>
      </div>
     </div>
  </div>
