<h1 mat-dialog-title>Add Customer </h1>
<div mat-dialog-content>

  <form (submit)="saveCustomer(formData)" #formData="ngForm">
    <mat-form-field class="item" *ngFor="let item of myKeys; let index = index; trackBy:index;" >
      <input class="inputs" matInput *ngIf="getType(item) != 'object'"
        type={{getType(item)}}
        name={{item}}
        placeholder={{item}}
        ngModel
        required
      >

      <mat-select
        placeholder={{item}}
        *ngIf="getType(item) == 'object'"
        ngModel
        name={{item}}
        required
        >
          <mat-option value="Subscription">subscription</mat-option>
          <mat-option value="Cash">cash</mat-option>
      </mat-select>

    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" cdkFocusInitial>Submit</button>
    </div>
  </form>

</div>





