<h1 mat-dialog-title>Add Customer </h1>
<div mat-dialog-content>

    <mat-form-field>
      <input
        matInput type="number"
        placeholder='number'
        [(ngModel)]="data.test.no">
    </mat-form-field>

    <mat-form-field>
      <input
        matInput type="text"
        placeholder='name'
        [(ngModel)]="data.test.name">
    </mat-form-field>

</div>

You chose: <i>{{data.test.name}}</i>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.test" cdkFocusInitial>Ok</button>
</div>
