<h1 mat-dialog-title> Customer </h1>
<div mat-dialog-content>

  <form  #formData="ngForm">
    <mat-form-field class="item" >
        <input matInput
          class="inputs"
          type='string'
          name='companyName'
          placeholder='Company Name'
          [ngModel]="data.companyName"
        >
    </mat-form-field>
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='string'
        name='name'
        placeholder=Name
        [ngModel]="data.name"
        required
      >
    </mat-form-field>
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='string'
        name='address'
        placeholder=Address
        [ngModel]="data.address"
        required
      >
    </mat-form-field>
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='string'
        name='city'
        placeholder=City
        [ngModel]="data.city"
        required
      >
    </mat-form-field>
    <mat-form-field class="item" >
        <input matInput
          class="inputs"
          type='string'
          name='township'
          placeholder='Township'
          [ngModel]="data.township"
        >
    </mat-form-field>
    <mat-form-field class="item">
      <mat-select
        class="inputs"
        placeholder='Route assignment'
        name='route'
        [ngModel]="data.route"
        required
        >
          <mat-option *ngFor="let item of routes" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="item">
      <mat-select
        class="inputs"
        placeholder='Payment Plan'
        name='currentPlan'
        [ngModel]="data.currentPlan"
        required
        >
          <mat-option value="Subscription">subscription</mat-option>
          <mat-option value="Cash">cash</mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions id="buttons">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button
        mat-button
        *ngIf="!data._id"
        type="submit"
        (click)="saveCustomer(formData)"
        cdkFocusInitial
        >Submit</button>
      <button
        mat-button
        *ngIf="data._id"
        type="submit"
        (click)="editCustomer(formData)"
        cdkFocusInitial
        >Edit</button>
      <button
        mat-button
        *ngIf="data._id && !confirmDelete"
        id="delete"
        color="warn"
        (click)="checkDelete()"
        >Delete
      </button>
      <button
        mat-button
        *ngIf="confirmDelete"
        id="delete"
        color="warn"
        (click)="deleteCustomer(formData)"
        >Delete cannot be undone
      </button>
    </div>
  </form>

</div>
