
.route-button{
  height: 100%;
  width: 100%;
}

#map-button {
  width: 80%;
  height: 80%;
}

#icon {
  font-size: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.form {
  height: auto;
  margin: 10px;
  padding-bottom: 25px;
}
.right-align {
  text-align: right;
  margin: auto;
  width: 100%;
}

.item {
  margin: auto;
  width: 100%;
}

.inputs {
  width: 100%;
}

#delete {
  float: right;
}
#buttons {
  width: 100%;
}
#error{
  color: red;
  font-style: italic;
}
