<h1 mat-dialog-title> Price </h1>
<div mat-dialog-content>


  <form  #formData="ngForm">
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='pickup'
        placeholder='Pickup Fee'
        [ngModel]="data.pickup"
        required
      >
    </mat-form-field>

    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='cow'
        placeholder='Cow Fee'
        [ngModel]="data.cow"
        required
      >
    </mat-form-field>

    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='horse'
        placeholder='Horse Fee'
        [ngModel]="data.horse"
        required
      >
    </mat-form-field>

    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='tax'
        placeholder='SD Tax'
        [ngModel]="data.tax"
        required
      >
    </mat-form-field>

    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='subscription'
        placeholder='Subscription'
        [ngModel]="data.subscription"
        required
      >
    </mat-form-field>


    <div mat-dialog-actions id="buttons">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button
        mat-button

        *ngIf="!data._id"
        type="submit"
        (click)="savePrice(formData)"
        cdkFocusInitial
        >Submit</button>
      <button
        mat-button

        *ngIf="data._id"
        type="submit"
        (click)="editPrice(formData)"
        cdkFocusInitial
        >Edit</button>
      <button
        mat-button
        *ngIf="data._id && !confirmDelete"
        id="delete"
        color="warn"
        (click)="checkDelete()"
        >Delete
      </button>
      <button
        mat-button
        *ngIf="confirmDelete"
        id="delete"
        color="warn"
        (click)="deletePrice(formData)"
        >Delete cannot be undone
      </button>
    </div>
  </form>
</div>
