<h1 mat-dialog-title> Price </h1>
<div mat-dialog-content>


  <form  #formData="ngForm">
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='pickup'
        placeholder='Pickup Fee'
        ngModel
        required
      >
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='tax'
        placeholder='SD Tax'
        ngModel
        required
      >
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='subscription'
        placeholder='Subscription'
        ngModel
        required
      >
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>

    <div *ngFor="let fee of feeItems; let i = index">
      <mat-divider></mat-divider>

      <mat-form-field class="item" >
        <mat-select
          class="inputs"
          placeholder='Animal'
          name='animal{{i}}'
          ngModel
          required
          >
          <mat-option *ngFor="let item of animalArray" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="item" >
          <input matInput
            class="inputs"
            type='number'
            name='feeAmount{{i}}'
            placeholder='Fee'
            ngModel
            required
          >
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>
      <mat-form-field class="item">
        <mat-select
          class="inputs"
          placeholder='Tax'
          name="taxable{{i}}"
          ngModel
          required
          >
            <mat-option value="true">Taxable</mat-option>
            <mat-option value="false">Non-taxable</mat-option>
        </mat-select>
      </mat-form-field>


        <mat-form-field class="item" >
            <mat-select
              class="inputs"
              placeholder='Applies Too:'
              name='appliesToo{{i}}'
              ngModel
              required
              >
              <mat-option value="cash">Cash</mat-option>
              <mat-option value="subscription">Subscription</mat-option>
              <mat-option value="both">Both</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div mat-dialog-actions id="buttons">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button
        mat-button

        *ngIf="!data._id"
        type="submit"
        (click)="savePrice(formData)"
        cdkFocusInitial
        >Submit</button>
      <button
        mat-button

        *ngIf="data._id"
        type="submit"
        (click)="editPrice(formData)"
        cdkFocusInitial
        >Edit</button>
      <button
        mat-button
        *ngIf="data._id && !confirmDelete"
        id="delete"
        color="warn"
        (click)="checkDelete()"
        >Delete
      </button>
      <button
        mat-button
        *ngIf="confirmDelete"
        id="delete"
        color="warn"
        (click)="deletePrice(formData)"
        >Delete cannot be undone
      </button>
      <button mat-button (click)="incFee()">Add Fee</button>
    </div>
  </form>
</div>
