main {
  width: 100vw;
  height: 100vh;
}

html {
  height: 100vh;
}

body {
  font-family: Roboto, Arial, sans-serif;
  min-height: 100vh;
  padding-top: 1rem;
}

mat-card{
  width: 80%;
  margin: auto;
  height: 100%;
}

