<h1 mat-dialog-title>test Customer </h1>
<div mat-dialog-content>

  <form  #formData="ngForm">
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='string'
        name='name'
        placeholder=Name
        [ngModel]="data.name"
        required
      >
    </mat-form-field>
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='string'
        name='address'
        placeholder=Address
        [ngModel]="data.address"
        required
      >
    </mat-form-field>
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='string'
        name='city'
        placeholder=City
        [ngModel]="data.city"
        required
      >
    </mat-form-field>
    <mat-form-field class="item">
      <mat-select
        class="inputs"
        placeholder='Payment'
        name='payment'
        [ngModel]="data.payment"
        required
        >
          <mat-option value="Subscription">subscription</mat-option>
          <mat-option value="Cash">cash</mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button
        mat-button
        *ngIf="!data.id"
        (click)="saveCustomer(formData)"
        cdkFocusInitial
        >Submit</button>
      <button
        mat-button
        *ngIf="data.id"
        (click)="editCustomer(formData)"
        cdkFocusInitial
        >Edit</button>
      <button
        mat-button
        *ngIf="data.id"
        id="delete"
        color="warn"
        (click)="onDelete(formData)"
        >Delete
      </button>
    </div>
  </form>

</div>
