<h1 mat-dialog-title>Add Customer </h1>
<div mat-dialog-content>

  <form (submit)="saveInvoice(formData)" #formData="ngForm" >
    <mat-form-field class="item" >
      <input matInput
        class="inputs"
        type='number'
        name='number'
        placeholder='number of dead'
        ngModel
        required
      >
    </mat-form-field>
    <mat-form-field class="item">
      <mat-select
        class="inputs"
        placeholder='Animal'
        name='animal'
        ngModel
        required
        >
        <mat-option *ngFor="let item of animals" value="{{item}}">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="item" *ngIf="formData.value.animal === 'other'">
      <input matInput
        class="inputs"
        type='string'
        name='other'
        placeholder='Other:'
        ngModel
        required
      >
    </mat-form-field>


    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" cdkFocusInitial>Submit</button>
    </div>
  </form>

</div>
