<mat-accordion class="delevery">
  <mat-expansion-panel *ngFor="let item of mergedData">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div *ngIf="!item.companyName" >{{item.name}}</div>
        <div *ngIf="item.companyName" >{{item.companyName}}</div>
      </mat-panel-title>
      <mat-panel-description>
        {{item.date}}
      </mat-panel-description>
    </mat-expansion-panel-header>

      <mat-grid-list cols="4" rowHeight="50px">
        <mat-grid-tile  colspan="2" rowspan="2">
          <ul>
            <li>{{item.name}}</li>
            <li>{{item.address}}</li>
            <li>{{item.city}}</li>
            <li>{{item.township}}</li>
          </ul>
        </mat-grid-tile>
        <mat-grid-tile  colspan="2" rowspan="2">
          <button mat-button id="map-button">
            <a href="https://www.google.com/maps/search/?api=1&query={{item.address}}+{{item.city}}" target="_blank" >
              <mat-icon id="icon">directions</mat-icon>
            </a>
          </button>

        </mat-grid-tile>
        <mat-divider></mat-divider>
        <div *ngFor="let subitem of item['requests']; let i = index">
          <mat-grid-tile >
            {{subitem.number}}
          </mat-grid-tile>
          <mat-grid-tile >
            {{subitem.animal}}
          </mat-grid-tile>
          <mat-grid-tile >
            {{subitem.other}}
          </mat-grid-tile>
          <mat-grid-tile >
            <mat-checkbox
              [(ngModel)]=subitem.complete
              (change)="onChange( item.invoiceId, subitem._id, subitem.complete, i)"
              >complete</mat-checkbox>
          </mat-grid-tile>
      </div>

      </mat-grid-list>

    <mat-action-row>
      <button mat-button color="primary" (click)="submit(item.invoiceId)" >Submit</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
