<mat-accordion class="delevery">
  <mat-expansion-panel *ngFor="let thing of invoices">
    <mat-expansion-panel-header>
      <mat-panel-title>
       Company Name
      </mat-panel-title>
      <mat-panel-description>
        Township
      </mat-panel-description>
    </mat-expansion-panel-header>

      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile >
          address info
        </mat-grid-tile>
        <mat-grid-tile >
          maps icon
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let item of invoices" colspan="2">
          {{item}}
        </mat-grid-tile>
      </mat-grid-list>

    <mat-action-row>
      <button mat-button color="primary" >done</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
